.conteudo__banner {
    align-items: center;
    background-image: url(../../img/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    height: 70vh;
    width: 100%;
}

.conteudo__bannerTitulo {
    color: #FFFFFF;
    font-size: 3rem;
    font-weight: 700;
    padding: 0 10rem;
    text-align: center;
    text-shadow: 5px 5px 2px rgba(0,0,0,0.6);
}