.ranking {
    background-color: #000000;
    margin: 5rem;
    border-radius: .8rem;
    box-shadow: 6px 6px 17px 3px rgba(0,0,0,0.7);
}

.ranking__titulo {
    font-weight: 700;
    font-size: 1.7rem;
    padding: 2rem;
    color: #14cc73;
    text-align: center;
}

.ranking__lista {
    display: flex;
    flex-wrap: wrap;
    height: 120vh;
}

.ranking__item {
    text-align: center;
    width: 12vw;
    padding: 2rem;
}

.ranking__item:hover{
    transform:scale(120%);
    transition: 1s;
}

.item__titulo {
    color: #fdfdfd;
    font-weight: 500;
    font-size: 1.2rem;
    padding: 0.5rem;
}

.item__imagem {
    width: 100%;
    height: 14.375rem;
}

