.pesquisa__titulo {
    color: #14cc73;
    font-size: 1.7rem;
    font-weight: 700;
    padding: 2rem 2rem 2rem 0;
}

.catalogo__pesquisa {
    color: #fdfdfd;
    font-weight: 300;
    padding: 0 3rem 3rem 3rem;
}

.pesquisa__input {
    background-color: transparent;
    border: 1px dashed #14cc73;
    border-radius: 0.3rem;
    color:#fdfdfd;
    font-family: 'Montserrat';
    font-size: 1rem;
    padding: .4rem;
    width: 30%;
}

.pesquisa__botao {
    background: #0d9b56;
    border: none;
    border-radius: 0.5rem;
    color:#FFFFFF;
    font-size: 1rem;
    font-weight: 700;
    padding: .5rem;
}

.pesquisa__botao:hover {
    opacity: .7;
}

.pesquisa__filtro {
    background: #161616;
    border: 1px dashed #14cc73;
    border-radius: 0.5rem;
    color:#fdfdfd;
    font-size: 1rem;
    margin-left: 1rem;
}

.filtro__opcao{
    font-family: 'Montserrat';
    font-weight: 300;
}


