.cabecalho {
    background-color: #000000;
    box-shadow: 0px 6px 6px 0px rgba(0,0,0,0.5);
    height: 4rem;
    width: 100%;
}

.cabecalho__container {
    align-items: center;
    display:flex;
    height: 4rem;
    justify-content: space-between;
    padding: 0 2rem;
}

.cabecalho__logo {
    width: 10rem;
}

.cabecalho__lista {
    display: flex; 
}

.cabecalho__link {
    color: #14cc73;
    font-size: 18px;
    font-weight: 600;
    margin-right: 1rem;
    text-decoration: none;
}

.cabecalho__link:hover {
    border-bottom: 2px solid #14cc73;
}

.cabecalho__link__botao {
    background-color: #0d9b56;
    border-radius: .5rem;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 600;
    margin-right: 1rem;
    padding: .5rem;
    text-decoration: none;
}

.cabecalho__link__botao:hover {
    opacity: .7;
}