.rodape {
    background-color: #000000;
    box-shadow: 0px -4px 6px 0px rgba(0, 0, 0, 0.5);
    color:#fdfdfd;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 9rem;
    justify-content: center;
    width: 100%;
}

.rodape__conteudo {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0.3rem;
    width: 20%;
}

.rodape__link {
    color:#fdfdfd;
    font-size: 0.875rem;
    font-weight: 100;
    margin: 0.5rem 1rem;
    text-decoration: none;
}

.rodape__link:hover {
    color:  #14cc73;
} 

.rodape__logo {
    max-width: 10rem;
}